.amazon-logo-img {
    border: none;
    margin-top: 12px;
    margin-left: 8px;
    width: 100px;
    padding-bottom: 10px;

}

.add-btn {
    padding-top: 10px;
    height: 35px;
    width: 175px;
    padding: 8px;
    border-radius: 50px;
    font-size: 13.333px;
    border: none;
    background-color: rgb(255, 216, 20);
    cursor: pointer;
    position: relative;
    bottom: 0;
    font-family: 'Roboto', 'Arial';
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.added-text {
    font-family: 'Roboto';
    color: rgb(6, 125, 98);
    font-size: 17.5px;

}

.added-div {
    display: flex;
    height: 28px;
    padding-bottom: 10px;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Arial';
}

.cart-div {
      min-width: 180px;
      display: flex;
      margin-right: 12.5px;

  }

  .checkmark {
      width: 20px;
      height: 20px;
      margin-top: 5px;

  }

  .clicked {
      border: 2px solid rgb(231, 117, 2);
  }

  .cart-img {
      width: 50px;
      margin-top: 13px;
      padding-left: 8.5px;

  }

  .cart-display {
      padding-top: 50px;
  }

  .cart-name {
      color: white;
      font-size: 15px;
      font-weight: 700;
      font-family: 'Roboto', 'Arial';
      position: relative;
      bottom: 43px;
      left: 58.75px;
  }

  .cart-count {
      color: rgb(240, 136, 4);
      font-size: 16px;
      font-weight: 700;
      font-family: 'Roboto', 'Arial';
      position: relative;
  }

  .cart-count-under-ten {
      bottom: 41px;
      left: 33px;

  }

  .cart-count-over-ten {
      bottom: 41px;
      left: 29px;
  }


  .cart-count-over-100 {
      font-size: 13px;
      bottom: 39px;
      left: 26px;
  }

  .choice-div {
      margin-top: 5px;
      margin-bottom: 10px;
  }

  .checkout-logo {
    width: 100px;
  }

  .checkout-img {
    width: 100px;
  }

  .checkout-count {
    color: rgb(0, 113, 133);
  }

  .checkout-div {
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', 'Arial';
    font-weight: 500;
  }

  .drop-menu {
      border-radius: 8px;
      color: rgb(33, 33, 33);
      padding: 3px 5px;
      font-size: 15px;
      border: 1px solid rgb(213, 217, 217);
      background-color: rgb(240, 240, 240);
      box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
      margin-bottom: 15px;
      font-family: 'Roboto', 'Arial';
      cursor: pointer;
      margin-bottom: 17px;
  }

  .drop-menu:focus {
      outline-color: rgb(231, 117, 2);
  }

  .empty-button {
    cursor: pointer;
  }

html {
    margin: 0;
}

.header-content {
    display: flex;
    height: 50px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

.img-div {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    height: 180px;
    display: flex;
}

.logo-div {
    padding-right: 8px;
    margin-top: 3px;

}

.lock-div {
   background-color: white;
}

.logo-container {
    width: 100px;
}

 .left-div {
     padding-top: 10px;

 }

  .logo-div:hover {
      border: 2px solid white;
      cursor: pointer;
  }

  .limit-to-2-lines {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
  }

.nav-bar {
    background-color: rgb(19, 25, 33);
    height: 54px;
    display: flex;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 14px;
    width: 100%;
    position: fixed;
    z-index: 3;

}

.not-found {
    padding-left: 10px;
    margin-top: 10px;
    font-family: 'Roboto', 'Arial';
    width: 100%;
}

 .order-text {
     font-weight: 800;
     font-size: 15px;
     margin-top: 3.5px;
 }

 .option-label {
     font-size: 16px;
     color: rgb(33, 33, 33);
     font-weight: 500;
     font-family: 'Roboto', 'Arial';
     margin: 0;

 }

 .option-button {
     font-family: 'Roboto', 'Arial';
     background-color: white;
     border: 1px solid rgb(173, 177, 184);
     padding: 5px 8px;
     border-radius: 8px;
     font-size: 15px;
     margin-right: 7px;
     margin-bottom: 7px;
     cursor: pointer;
 }


 .option-div {
     display: block;
 }

p {
    margin: 5px;
}


.product-grid {
    display: grid;
    padding-top: 60px;
    grid-template-columns: 1fr 1fr 1fr;
}


.product-div {
    border-top: none;
    display: grid;
    grid-template-rows: auto auto 23px auto 34px 1fr auto auto auto;
    padding-top: 40px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-family: 'Roboto';
    border-right: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);

}

.product-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-name {
    font-size: 16px;
    margin: 0;
}

.product-review {
    display: flex;

}

.product-stars {
    width: 100px;
    object-fit: contain;
    margin-right: 6px;
}

.product-count {
    color: #017cb6;
    display: inline-block;
    font-size: 16px;
    margin-top: 3.5px;
}

.product-price {
    font-weight: bold;
    font-size: 16px;
    margin-top: 9.5px;
    margin-bottom: 10px;
}

.product-name-div {
    height: 43px;
    margin-bottom: 1.5px;
}

 .return-text,
 .order-text {
     color: white;
     font-family: 'Roboto', 'Arial';
     line-height: 10.5px;
 }

 .return-text {
     font-size: 13px;
     margin-top: 7px;
 }

 .return-link {
     text-decoration: none;
 }

.search-div {
        flex: 1;
        display: flex;
        padding-right: 26.5px;
       
}

.search-bar {
    height: 38px;
    margin-left: 9px;
    margin-top: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    font-family: 'Roboto', sans-serif;;
    font-size: 16px;
    padding-left: 15px;
    flex: 1;
    }

    .search-bar:focus {
        outline: 2px solid rgb(255, 153, 0);

    }


   .search-btn {
    width: 45px;
    height: 40px;
    margin-top: 10px;
    padding-left: 5px;
    background-color: rgb(254, 189, 105);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
   }

   .search-img {
    width: 22px;
    padding-top: 3px;
    padding-left: 3px;
   }

   .update-link , .delete-link, .save-link {
    cursor: pointer;
   }

   .update {
    display: none;
   }

   
 












 




